@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-*: initial;
  --color-white: #f8f9fa; /* gray 0 from open-color */
  --color-black: #212529; /* gray 9 from open-color */
  --color-gray-1: #f1f3f5;
  --color-gray-2: #e9ecef;
  --color-gray-3: #dee2e6;
  --color-gray-4: #ced4da;
  --color-gray-5: #adb5bd;
  --color-gray-6: #868e96;
  --color-gray-7: #495057;
  --color-gray-8: #343a40;
}
@layer base {
  * {
    vertical-align: baseline;
  }
}
@layer components {
  .sidebar-links {
    /* Use @apply to tell Tailwind which styles to grab */
    @apply block text-sm/7 text-black/60 transition-colors first-of-type:mt-3;
  }
  main {
    @apply mx-auto mt-24 min-h-dvh w-11/12 max-w-7xl;
  }
}
