---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Testimonials";
---

<BaseLayout pageTitle={title}>
  <h1 class="text-3xl font-bold underline capitalize">Hello {title}, Page!</h1>
</BaseLayout>
