---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Questions";
---

<BaseLayout pageTitle={title}>
  <main class="w-11/12 mx-auto max-w-7xl min-h-dvh">
    <h1 class="text-3xl font-bold underline capitalize">
      Hello {title}, Page!
    </h1>
  </main>
</BaseLayout>
