---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("wiki");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);

const title = `Wiki - ${post.data.title}`;
---

<BaseLayout pageTitle={title}>
  <main class="w-11/12 mx-auto max-w-7xl min-h-dvh flex flex-1">
    <section
      class="prose max-w-[80ch] text-pretty prose-headings:capitalize prose-headings:text-xl text-base/7 text-black"
    >
      <h1>
        {post.data.title}
      </h1>
      <Content />
    </section>
  </main>
</BaseLayout>
