---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getEntry, render } from "astro:content";

const entry = await getEntry("wiki", "post-1");

if (!entry) {
  // Handle Error, for example:
  throw new Error("Could not find blog post 1");
}

const { Content } = await render(entry);

const title = "Wiki";
---

<BaseLayout pageTitle={title}>
  <main class="w-11/12 mx-auto max-w-7xl min-h-dvh flex flex-1">
    <section class="">
      <h1
        class="scroll-m-20 text-3xl font-extrabold tracking-tight text-balance"
      >
        {entry.data.title}
      </h1>
      <div
        class="max-w-3xl text-base/7 space-y-4 mt-6 [&>ol]:list-decimal [&>p>a]:underline"
      >
        <Content />
      </div>
    </section>
  </main>
</BaseLayout>
