<header class="bg-white py-6 border-b border-black/5">
  <div
    class="w-11/12 mx-auto max-w-7xl grid grid-cols-1 lg:grid-cols-2 items-center"
  >
    <div class="flex flex-row justify-between items-center">
      <a href="/">r/EngineeringResumes</a>
      <p class="lg:hidden">menu</p>
    </div>
    <nav
      class="flex justify-center lg:justify-end space-x-2 [&>a]:text-base/7 [&>a]:capitalize"
    >
      <a
        href="/"
        class="rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        Home
      </a>
      <a
        href="/questions"
        class="rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        Wiki
      </a>
      <a
        href="https://docs.google.com/document/d/1MBvhATv8y-ESORopRoLSZ3f3HjkM_Qa_f8fIHAEqgnI/edit?tab=t.0"
        target="_blank"
        class="rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        Template ↗
      </a>
    </nav>
  </div>
</header>
