<header class="bg-white py-6 border-b border-black/5">
  <div
    class="w-11/12 mx-auto max-w-7xl grid grid-cols-1 lg:grid-cols-2 items-center"
  >
    <div class="flex flex-row justify-between items-center">
      <a href="/">r/EngineeringResumes</a>
      <p class="lg:hidden">menu</p>
    </div>
    <nav
      class="flex justify-center lg:justify-end space-x-2 [&>a]:text-base/7 [&>a]:capitalize"
    >
      <a
        href="/"
        class="inline-flex shrink-0 items-center justify-center text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-black focus-visible:ring-[3px] focus-visible:ring-ring/50 disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 bg-white text-black hover:bg-gray-3/90 gap-1.5 px-3 has-[>svg]:px-2.5 h-[31px] rounded-lg"
      >
        Home
      </a>
      <a
        href="/wiki"
        class="inline-flex shrink-0 items-center justify-center text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-black focus-visible:ring-[3px] focus-visible:ring-ring/50 disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 bg-white text-black hover:bg-gray-3/90 gap-1.5 px-3 has-[>svg]:px-2.5 h-[31px] rounded-lg"
      >
        Wiki
      </a>
      <a
        href="https://docs.google.com/document/d/1MBvhATv8y-ESORopRoLSZ3f3HjkM_Qa_f8fIHAEqgnI/edit?tab=t.0"
        target="_blank"
        class="inline-flex shrink-0 items-center justify-center text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:border-black focus-visible:ring-[3px] focus-visible:ring-ring/50 disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 bg-white text-black hover:bg-gray-3/90 gap-1.5 px-3 has-[>svg]:px-2.5 h-[31px] rounded-lg"
      >
        Template ↗
      </a>
    </nav>
  </div>
</header>
