<header
  class="bg-gray-50 py-6 shadow shadow-black/5 border-b border-black/5 mb-24"
>
  <div
    class="w-11/12 mx-auto max-w-7xl grid grid-cols-1 lg:grid-cols-2 items-center"
  >
    <div class="flex flex-row justify-between items-center">
      <p>r/EngineeringResumes</p>
      <p class="lg:hidden">menu</p>
    </div>
    <nav
      class="flex justify-center lg:justify-end space-x-2 [&>a]:text-base/7 [&>a]:capitalize"
    >
      <a
        href="/dashboard"
        class="rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        Home
      </a>
      <a
        href="/wiki"
        class="rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        question
      </a>
      <a
        href="/testimonials"
        class="text-base/7 rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        Testimonials
      </a>
      <a
        href="/checklist"
        class="text-base/7 rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        checklist
      </a>
      <a
        href="/checklist"
        class="text-base/7 rounded px-2.5 py-2 text-black hover:bg-gray-100 hover:text-gray-900 hover:underline"
      >
        Resources
      </a>
    </nav>
  </div>
</header>
